# Cấu hình Database cho Docker Compose (Sẽ tự động điền vào Backend)
POSTGRES_USER=user_baucua
POSTGRES_PASSWORD=pass_baucua_secure_123
POSTGRES_DB=db_baucua

MONGO_USER=admin
MONGO_PASS=admin_pass_secure_456

# Cấu hình App
JWT_SECRET=thay_doi_chuoi_nay_thanh_bi_mat_cua_ban
NODE_ENV=production
PORT=5000
