# PostgreSQL - Prisma Cloud (Lấy URL từ Prisma Console)
DATABASE_URL="postgres://YOUR_USER:YOUR_KEY@db.prisma.io:5432/postgres?sslmode=require"

# MongoDB - Docker Container
MONGO_USER=admin
MONGO_PASS=admin_pass_secure_456

# Cấu hình App
JWT_SECRET=thay_doi_chuoi_nay_thanh_bi_mat_cua_ban
NODE_ENV=production
PORT=5000
